/* Start of Body, Root, Footer CSS */

:root {
  color-scheme: light dark;
}

body {
  background: linear-gradient(0deg, #084c61 1%,
   #CC0000 2%, #084c61 70%);
}

.footer {
  padding: 25px;
  color: white;
  background-color: #CC0000;
  
}

.site--container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 77px);
  
}

/* End of Body & Root CSS */

/* Start of Nav Bar */

.drop {
  background-color: #2a2e30;
}
.home-button {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-right:auto;
  margin-left: auto;
  color: #B3A125;
  font-size: small;
  text-shadow: black -4px  3px;
}
.home-button-text {
  font-family: serif;
  font-size: 35px;
}

.home-button-text:hover {
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

.login--text {
  font-weight: 500;
  font-family: serif;
  color: #B3A125;
  font-size: 25px;
  text-shadow: black -4px  3px 2px;
}

.login--text:hover {
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

.sideMenu:hover {
  color:#f9f9f9
}

.nav-home{
  padding: 15px;
  display: flex;
  align-items:center;
  align-content: center;
  background-color: #084c61;
  max-height: 86px;
}
/* Toggle Theme Nav */
.dark{
  background: linear-gradient(0deg, #084c61 1%,
  #CC0000 2%, #084c61 70%);
    color: #fff;
  }
  .light{
    background: linear-gradient(200deg, #084c61 1%,
    #CC0000 2%, #084c61 70%);
  }
 .light-dark-btn{
    font-size: 15px;
    font-weight: 500;
    font-family: serif;
    text-shadow: black -4px  3px;
    margin-left: 5px;
    margin-right: 0px;
    border-radius: 5px;
    padding: 8px;
    color: #B3A125;
    background-color: #2a2e30;
  }
  .light-dark-btn:hover{
    color:#CC0000;
    text-shadow: black 4px 3px 3px;
  }
/* End of Nav Bar */

/* Login Page*/

form {
  margin-bottom: 10px;
}

.pokemon--logo{
  width: 200px;
  margin: 15px;
}

.form-basic-email,
.form-basic-password {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  color: white;
}

.login-text {
  color:rgb(255, 255, 255);
  font-size: medium;
}

.btn-el{
  margin: 20px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
}

.login--container {
  padding-bottom: 50px;
}

.login-buttons {
  margin-bottom: 10px;
}

/* End of Login*/

/* General Buttons, inputs and textareas 
(Might have to change later according to each Page) */

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #8a0202;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
textarea {
  display: flex;
  align-items: center;
}

p{
  color:white;
}

/* Forgot Password*/
.h1-fpp{
  color: white;
  margin: 50px;
}
.p-fpp{
  font-size: medium;
  margin-bottom: 50px;
}
.fp-email{
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.p-text{
  color: white;
}

.forgot-pw-submit {
  background-color: #1a1a1a;
  margin-bottom: 50px;

}

/* BVT Search Page */

.avatar-for-search {
  height: 9em;
}

.search-results {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.outer-id-card {
  background-color: #242424;
  font-size: larger;
  margin: 15px; 
}

.inner-id-card {
  margin: 15px;
  min-width: 250px;
}

.modal-content {
  background-color: #1a1a1a;

}

.modal-title {
  color:white;
}

.surrounding-box {
  background-color:#2a2e30;
  margin: 25px 55px 0 55px;
  box-shadow: #1a1a1a -7px 7px 15px;
  border-radius: 10px;
}

.container-search {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2e30;
  margin-top: 25px;
  border-radius: 10px
  
}

.sp-search {
  display: flex;
  align-items: center;
  
}

.SP-searchBar {
  height: 45px;
  border: none;
  width: 300px;
  
}
/* combined search bar and btn */
.sp-search {
  min-width: 150px;
  max-width: 300px;
}


.BVT-results,
.container-results-poke {
  background-color:#2a2e30;
  margin: 25px 55px 25px 55px;
  min-height: calc(100vh - 450px);
  box-shadow: #1a1a1a -7px 7px 15px;
  max-height: max-content;
  border-radius: 10px;
}

.sp-results-header {
  color: white;
  margin: 25px;
}

/* Poke Search Page */

.Poke-search-page {
  overflow-y: auto;
}

.container-search-poke {
  background-color:#2a2e30;
  margin: 25px 55px 0 55px;
  height: 175px;
  display: flex;
  flex-direction:column;
  align-items: center;
  box-shadow: #1a1a1a -7px 7px 15px;
  border-radius: 10px;
}

.poke-search-btn {
  background-color: black;
  color: white;
}

.form-select {
  margin: 10px;
  width: fit-content;
  background-color:#2a2e30;
  color: white;
  
}

.select-row {
  margin-bottom: 5px;
}




.search-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.pokeSearch {
  margin: 5px;
  justify-content: center;
  color:rgb(255, 255, 255);

}

.btn-dark {
  background-color: #2a2e30;
}

.id-text {
  color: white;
}

