.register-body{
    background-image: url(https://wallpaperaccess.com/full/6682744.gif);
    background-size: cover;
    height: calc(100vh - 152px);
    overflow-y: scroll;
}

.register-form{
    background-color:rgb(0, 0, 0);
    border-radius: 20px;
    width: 550px;
    margin: 20px auto;
    margin-top: 55px;
    padding: 20px;
    border: inset;
    border-color: #bd4646;
    
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
   color: aqua;
   font-size: large;
   font-family: Rancho,Georgia, 'Times New Roman', Times, serif;

}


.form__input{
    width: 60%;
    background-color: #1a1c1b;
    color: rgb(255, 255, 255);
    caret-color: #f50000;
    margin-top: 5px;
}

.submit-register{
    text-align: center;
}

.create-acc-btn{
    color:rgb(0, 0, 0);
    border-radius: 10px;
    background-color: aqua;
    font-family: Rancho,Georgia, 'Times New Roman', Times, serif;
}

.last-sentence{
    margin: 10px;
    color: #bd4646;
    font-family: Rancho,Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}


 .sign-up{
    color:#bd4646;
    font-size: larger;
    font-family: Rancho, Georgia, 'Times New Roman', Times, serif;
    font-size:48px;
    
    
 }

 